{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container mt-5 he">
    <h1 class="ms-2"><strong>About Us</strong></h1>
</div>
<div class="container">
    <div id="about" class="about">
        <div class="container">
            <div class="about_box">
                <p><img style="border-radius: 10px; height: 200px; width: 300px;" src="{% static 'webapp/images/273010137_2735851786561515_2476901403527783610_n_m9PQ55H.jpg' %}" />
                    We believe we are God’s beloved. He demonstrated this by freely giving up heaven's best, his only son Jesus, for you and me. When we catch a revelation of this truth, we are transformed by his grace from inside out.
                    <br>
                    No matter who you are or where you come from, there's always a place for you in <b>K.P.C</b> church family.
                </p>
                
            </div>
             
            </div>
        </div>
    </div>
    
</div>
{% endblock %}