{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container mt-5 hh">
    <h1 class="ms-2 "><strong>Word of Confession</strong></h1>
</div>
<div class="container">
    <div id="about" class="about mb-4">
        <div class="container">
            <div class="about_bo">
                <div class="hes">
                    <h3>Health and Healing</h3>
                </div>
            </div>
            <p class="mt-3"><img class="confe" src="{% static 'webapp/images/273010137_2735851786561515_2476901403527783610_n_m9PQ55H.jpg' %}" alt="">
                Surely He has borne our griefs and carried our sorrows; yet we esteemed Him striken, smitten by God, and afflicted. But he was wounded for our transgressions, He was bruised for our
                 iniquities; the chastisement for our peace was upon Him, and by His stripes we are healed. <b class="bol">Isaiah 53:4-5</b>
                 <br>
                 <br>
                 But if the Spirit of Him who raised Jesus from the dead dwells in you, He who raised Christ from the dead will also give
                  life to your mortal bodies through His Spirit who dwells in you.
                  <b class="bol">Romans 8:11</b>
                  <br>
                  <br>
                  Then your light shall break forth like the morning, your healing shall spring forth speedily, and yo eousness shall go before you; the glory of the Lord shall be your rearguard.<b class="bol">lsaiah 58:8</b>
                  <br>
                  <br>
                  Then they cried out to the Lord in their trouble, and He saved them out of their distresses. He sent His word and healed them, and delivered them from their destruction <b class="bol"> Psalm 107:19-20</b>
                  <br>
                  <br>
                  I shall not die, but live, and declare the works of the Lord. <b class="bol">Psalm 118:17</b> 
                  <br>
                  <br>
                  And the Lord will take away from you all sickness, and will afflict you with none of the terrible diseases of Egypt which you have known, but will lay them on all those who hate you. <b class="bol">Deuteronomy 7:15</b> 
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div id="about" class="about mb-4">
            <div class="container">
                <div class="about_bo">
                    <div class="hes">
                        <h3>Prosperity & Provision</h3>
                    </div>
                </div>
                <p class="mt-3"><img class="confe" src="{% static 'webapp/images/273010137_2735851786561515_2476901403527783610_n_m9PQ55H.jpg' %}" alt="">
                    And you shall remember the Lord your God, Tor it is He who gives you power to get wealth, that He may establish His covenant vwhich He sWore to your fathers, as it is this day.  <b class="bol">Deuteronomy 8:18</b>
                     <br>
                     <br>
                     For you know the grace of our Lord Jesus Christ, that though He was rich, yet for your sakes He became poor, thatyou through His poverty might become rich. 
                      <b class="bol">2 Corinthians 8:9</b>
                      <br>
                      <br>
                      The Lord will command the blessing on you in your storehouses and in all to which you set your hand and He vwill bless you in the land which the Lord your God is giving you. <b class="bol">Deuteronomy 28:8</b>
                      <br>
                      <br>
                      Honor the Lord with your possessions, and with the first fruits of all your increase; so your barns will be filled with plenty, and your vats will overflow with new wine.  <b class="bol"> Proverbs 3:9-10</b>
                      <br>
                      <br>
                      Blessed shall you be in the city, and blessed shall you be in the country. Blessed shall be the fruit of your body, the produce of your ground and the increase of your herds, the increase of your cattle and the offspring of your flocks. sa1 shalil be your basket and your kneading bow ess shall you be when you come in, and blesse shalt you be v hen you go out.  <b class="bol">Deuteronomy 28:3-6</b> 
                      <br>
                      <br>
                      
                    </p>
                </div>
            </div>
            <div id="about" class="about mb-4">
                <div class="container">
                    <div class="about_bo">
                        <div class="hes">
                            <h3>Favour</h3>
                        </div>
                    </div>
                    <p class="mt-3 mb-5"><img class="confe" src="{% static 'webapp/images/273010137_2735851786561515_2476901403527783610_n_m9PQ55H.jpg' %}" alt="">
                        For You, O Lord, will bless the righteous; with favor You will surround him as with a shield. <b class="bol">Psalm 5:12</b>
                         <br>
                         <br>
                         You prepare a table before me in the presence of my enemies; You anoint my head with oil, my cup runs Over. Surely goodness and mercy shall follow me all the days of my life; andI will dwell in the house of the Lord forever. 
                          <b class="bol">Psalm 23:5-6</b>
                          <br>
                          <br>
                          For His anger is but for a moment, His favor is for life; weeping may endure for a night, but joy comes in the morning. <b class="bol">Psalm 30:5</b>
                          <br>
                          <br>
                          The Lord make His face shine upon you, and be gracious to you; the Lord lift up His countenance upon yOu, and give you peace.  <b class="bol"> Numbers 6:25-26</b>
                          
                        </p>
                    </div>
                </div>
    </div>
    
</div>
{% endblock %}