{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container mt-5 hh">
    <h1 class="ms-2 "><strong>Word of Confession</strong></h1>
</div>
<div class="container">
    <div id="about" class="about mb-4">
        <div class="container">
            <div class="about_bo">
                <div class="hes">
                    <h3>Health and Healing</h3>
                </div>
            </div>
             
            </div>
        </div>
    </div>
    
</div>
{% endblock %}