{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container-fluid sunday-celebration-tit">
    <h1>{{department.department_name}}</h1>
</div>

<div id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure><img style="border-radius: 10px;" src="{% static 'webapp/images/IMG_4236.JPG' %}" alt="img" /></figure>
                    <!-- <figure><img style="border-radius: 10px;" src="{{department.imageURL}}" alt="img" /></figure> -->
                </div>
            </div>
          
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                
                <div class="about_box">
                    <h2>{{ department.department_name }}</h2>
                    <p>{{ department.decription }}</p>
                    <!-- <figure><img style="border-radius: 10px;" src="{{ministry.team_leader_imageURL}}" alt="img" /></figure> -->
                </div>
                
            </div>
        </div>
    </div>
</div>


</div>
{% endblock content %}