{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container mt-5 he">
    <h1 class="ms-2"><strong>Statement of Faith</strong></h1>
</div>
<div class="container">
    <div id="about" class="about">
        <div class="container">
            <div class="about_box">
                <p><img style="border-radius: 10px; height: 200px; width: 300px;" src="{% static 'webapp/images/313125575_508103428023790_7417197126285729396_n.jpg' %}" />
                    <b class="bol">We Believe</b> in one God, who exists in three Persons- the <b><i>the Father, Son and Holy Spirit</i></b>. He is loving, holy and just.
                    <br>
                    <b class="bol">We Believe</b> the bible is God's Word. It is inspired and accurate. It is our perfect guide in all matters of life.
                    <br>
                    <b class="bol">We Believe</b> sin has seperated us all from God, and that only through Jesus Christ can we be reconsiled to God.
                    <br>
                    <b class="bol">We Believe</b> Jesus Christ is both God and Man. He was conceived by the Holy Spirit and Born of the Virgin Mary. He led a sinless life, took all our sins upon Himself, died and rose again. Today, He is seated at the right hand of the Father as our Highest Priest and Mediator.
                    <br>
                    <b class="bol">We Believe</b> that salvation is the gift of God to man. This gift is affected by grace through faith in Jesus Christ and it produces works pleasing to God.
                    <br>
                    <b class="bol">We Believe</b> that water baptism is an outword act that demonstrates a believer's identification with the death, burial and resurrection of Jesus.
                    <br>
                    <b class="bol">We Believe</b> the Holy Spirit is our Comforter. He guides us in all areas of our lives. He also blesses us with spiritual gifts and empowers us to yield the fruit of the Spirit.
                    <br>
                    <b class="bol">We Believe</b> the Holy Communion is a celebration of Jesus' death and our remembrance of Him.
                    <br>
                    <b class="bol">We Believe</b> God wants to tsranform, heal and prosper us, so that we can live blessed and victorious lives that will impact and help others.
                    <br>
                    <b class="bol">We Believe</b> we are called to preach the gospel to all nations.
                    <br>
                    <b class="bol">We Believe</b> our Lord Jesus Christ is coming back again just as He promised.
                </p>
                
            </div>
             
            </div>
        </div>
    </div>
    
</div>
{% endblock %}