{% extends 'webapp/layout.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<link type="text/css" rel="stylesheet" href="{% static 'webapp/css/home-min.css' %}">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% for event in events|slice:1 %}
      <img src="{{event.imageURL}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-info text-light" href="{% url 'webapp:event' event.id %}">READ MORE</a>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for event in events|slice:'1:2' %}
      <img src="{{event.imageURL}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-info text-light" href="{% url 'webapp:event' event.id %}">READ MORE</a>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for event in events|slice:'2:3' %}
      <img src="{{event.imageURL}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
       
        <a class="btn btn-info text-light" href="{% url 'webapp:event' event.id %}">READ MORE</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- <div class="container-fluid fluider">
{% for item in sermon|slice:1 %}
  <div class="container">
      <div class="you">
          {% video item.video_url as my_video %}
              {% video my_video '100% x 100%' %}
          {% endvideo %}
      </div>
      <div class="share">
          <div class="sermontitle">
              <h3>{{item.sermon_title}} <h1>.</h1></h3>
              <small>
                  <span class="bold">{{item.Speaker}} .</span>
                  <span>{{item.date_added|date:'M d, Y'}}</span>
              </small>
          </div>
          <div class="links">
              <a href="">
                  <div class="flex flex-column">
                      <i class="icofont-bell-alt"></i>
                      <small>Subscribe</small>
                  </div>
              </a>
              <a href="">
                  <div class="flex flex-column">
                      <i class="icofont-money"></i>
                      <small>Giving</small>
                  </div>
              </a>
              <a href="">
                  <div class="flex flex-column">
                      <i class="icofont-share-alt"></i>
                      <small>Share</small>
                  </div>
              </a>
          </div>
      </div>
  </div>
  {% endfor %}
</div> -->


  <!-- <div class="container eve">
    <h2>Upcoming Events</h2>
    <div class="ever">
    {% for event in events|slice:2 %}
    <div class="events">
      <div class="card mb-4 rounded-3 shadow-sm event-card">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">KPC</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{event.start_date|date:'M d'}}</h1>
        </div>
        <div class="card-footer py-3">
          <h4 class="my-0 fw-normal">{{event.start_time}}</h4>
        </div>
      </div>
      <div class="moredetails">
        <div class="eventname">
          <h5><span>Event:</span> {{event.event_name}}</h5>
        </div>
        <div class="btn btn-danger eventdetail">
          <a href="{% url 'webapp:event' event.id %}">Event Details</a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="empty">
        <h5>Oops! No Content Yet</h5>
    </div>
    {% endfor %}
    </div>
  </div> -->
  
 <div class="container cc">
 
  <H2 class="text-centered">MINISTRIES</H2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex">
        {% for ministry in ministries|slice:2 %}
        <div class="card me-2">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
       
        {% endfor %}
        </div>
      </div>
      <div class="carousel-item mt-2">
        <div class="d-flex">
        {% for ministry in ministries|slice:'2:4' %}
        <div class="card me-2">
          <img  src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        
        {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
        {% for ministry in ministries|slice:'4:6' %}
        <div class="card me-2">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
       
        {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
        {% for ministry in ministries|slice:'6:7' %}
        <div class="card me-2">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
        {% for ministry in ministries|slice:"4:5" %}
        <div class="card me-2">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
        {% for ministry in ministries|slice:"5:6" %}
        <div class="card me-2">
          <img  src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img  src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
        {% for ministry in ministries|slice:"6:7" %}
        <div class="card me-2">
          <img  src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <button class="carousel-control-prev  bb-t" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next  bb-t" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



<!-- <div class="container-fluid">
  <div class="container tit">
    <span>MINISTRIES</span>
    <H2>OUR MINISTRIES</H2>
    <div class="row">
      {% for ministry in ministries %}
      <div class="col-lg-4">
        <div class="card">
          <img style="object-fit: cover;" src="{{ministry.imageURL}}" alt="">
          <div class="card-body">
            <div class="card-title">
              <h4 class="ministrytitle">
                <a href="">
                  {{ministry.ministry_name}}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ministry.decription|truncatechars:100}}</p>
            <a class="btn btn-success min-more" href="{% url 'webapp:ministries' ministry.id %}">Read More</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
    <div class="empty">
        <h5>Oops! No Content Yet</h5>
    </div>
      {% endfor %}
    </div>

  </div>

</div>

 -->





<div class="container mt-3">

  <div class="quote ms-2">
    <div class=" main-n">
        <div class="trendingMovies movies">
            <h4>Quotes</h4>
            <div class="cards ml-5">
                {% for quotes in quote|slice:4 %}
               
                    <div class="card ms-2" data-text=""> 
                            
                              <img src="{{quotes.imageURL}}" alt="">
            
                    </div>
                    {% empty %}
                    <div class="empty">
                        <h5>Oops! No Content Yet</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="more-sermon-btn mt-1">
            <a class="button-style" style="text-align: center;" href="{% url 'webapp:quote' %}">
                <button class="btn btn-danger upp">More Quotes</button>
            </a>
      </div>
    </div>
</div>
</div>


<script type="text/javascript" src="{% static 'webapp/js/home-min.js' %}"></script>
{%  endblock content%}