

{% extends 'webapp/layout.html' %}
{% load static %}

{% load embed_video_tags %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'webapp/css/team.css' %}">
<div class="container mt-5 hh">
    <h1 class="ms-2 "><strong>Church Leadership</strong></h1>
</div>
<div class="container">
    <div id="about" class="about mb-4">
        <div class="container">
            <div class="about_bo">
                <div class="hes">
                    <h3>Health and Healing</h3>
                </div>
            </div>
            <p class="mt-3 pb-5"><img class="confe" src="{% static 'webapp/images/church.jpg' %}" alt="">
                As an apostolic ministry our mandate is to equip the Saints through correct and protound teaching of the word of truth which reveals the Grace of our lord Jesus Christ and the love of God to the

                perfecting and edification of body of Christ till all Come in the unity of the faith and of the knowledge of the Son of God, unto a pertect man, unto the measure of the stature of the fullness of Christ.
                <br>
                <br>

                Our passion is to help this generation of believers understand the new covenant of grace and realize how greatly blessed, highly favored and deeply loved they are.
            </p>
            </div>
        </div>
        
    </div>
    <div class="container mt-5 pt-5 hh">
        <h1 class="ms-2 "><strong>Church Leadership</strong></h1>
    </div>
    <div class="container">
        <div id="about" class="about mb-4">
            
                <div class="container">
                    <div class="about_bo">
                        <div class="hes">
                            <h3>LEAD PASTORS</h3>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                          
                          
                          <div class="col-md-3 col-sm-6">
                            <div class="team">
                              <div class="team-image">
                                <img src="{% static 'webapp/images/rev.jpg' %}" class="img-responsive" alt="team image">
                                <div class="social-icons">
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </div>
                              </div>
                              <h3>Pastor Samuel Chomba</h3>
                              <!-- <p>CEO / FOUNDER EVENTO</p> -->
                            </div>
                          </div>
                          
                          <div class="col-md-3 col-sm-6">
                            <div class="team">
                              <div class="team-image">
                                <img src="{% static 'webapp/images/mary.jpg' %}" class="img-responsive" alt="team image">
                                <div class="social-icons">
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </div>
                              </div>
                              <h3>Pastor Mary Chomba</h3>
                              <!-- <p>CEO / FOUNDER EVENTO</p> -->
                            </div>
                          </div>
                         
                          
                         
                        </div>
                        </div>
                   
                    </div>
                    <div class="container">
                        <div class="about_bo">
                            <div class="hes">
                                <h3>CO-PASTORS</h3>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                             
                              
                              <div class="col-md-3 col-sm-6">
                                <div class="team">
                                  <div class="team-image">
                                    <img src="{% static 'webapp/images/lucy.jpg' %}" class="img-responsive" alt="team image">
                                    <div class="social-icons">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </div>
                                  </div>
                                  <h3>Pastor Lucy Munge</h3>
                                  <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                </div>
                              </div>
                              
                              <div class="col-md-3 col-sm-6">
                                <div class="team">
                                  <div class="team-image">
                                    <img src="{% static 'webapp/images/ennis.jpg' %}" class="img-responsive" alt="team image">
                                    <div class="social-icons">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </div>
                                  </div>
                                  <h3>Pastor Dennis Muchiri</h3>
                                  <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                </div>
                              </div>
                             
                              <div class="col-md-3 col-sm-6">
                                <div class="team">
                                  <div class="team-image">
                                    <img src="{% static 'webapp/images/sue.jpg' %}" class="img-responsive" alt="team image">
                                    <div class="social-icons">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </div>
                                  </div>
                                  <h3>Pastor Susan Njogu</h3>
                                  <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                </div>
                              </div>
                              
                              <div class="col-md-3 col-sm-6">
                                <div class="team">
                                  <div class="team-image">
                                    <img src="{% static 'webapp/images/314411600_508104038023729_5363057244920897952_n.jpg' %}" class="img-responsive" alt="team image">
                                    <div class="social-icons">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </div>
                                  </div>
                                  <h3>Pastor Ruth Muchiri</h3>
                                  <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="about_bo">
                                <div class="hes">
                                    <h3>MINISTERS</h3>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                 
                                  
                                  <div class="col-md-3 col-sm-6">
                                    <div class="team">
                                      <div class="team-image">
                                        <img src="{% static 'webapp/images/murage.jpg' %}" class="img-responsive" alt="team image">
                                        <div class="social-icons">
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </div>
                                      </div>
                                      <h3>Min. Murage</h3>
                                      <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                    </div>
                                  </div>
                                  
                                  <div class="col-md-3 col-sm-6">
                                    <div class="team">
                                      <div class="team-image">
                                        <img src="{% static 'webapp/images/314411600_508104038023729_5363057244920897952_n.jpg' %}" class="img-responsive" alt="team image">
                                        <div class="social-icons">
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </div>
                                      </div>
                                      <h3>Min. Martin Wamugunda</h3>
                                      <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                    </div>
                                  </div>
                                 
                                  <div class="col-md-3 col-sm-6">
                                    <div class="team">
                                      <div class="team-image">
                                        <img src="{% static 'webapp/images/314411600_508104038023729_5363057244920897952_n.jpg' %}" class="img-responsive" alt="team image">
                                        <div class="social-icons">
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </div>
                                      </div>
                                      <h3>Min. Sheela Mbungu</h3>
                                      <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                    </div>
                                  </div>
                                  
                                  <div class="col-md-3 col-sm-6">
                                    <div class="team">
                                      <div class="team-image">
                                        <img src="{% static 'webapp/images/314411600_508104038023729_5363057244920897952_n.jpg' %}" class="img-responsive" alt="team image">
                                        <div class="social-icons">
                                            <a href="#"><i class="icofont-facebook"></i></a>
                                            <a href="#"><i class="icofont-twitter"></i></a>
                                            <a href="#"><i class="icofont-instagram"></i></a>
                                        </div>
                                      </div>
                                      <h3>Min. Daniel Mwangi</h3>
                                      <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                    </div>
                                  </div>


                                  <div class="col-md-3 col-sm-6">
                                    <div class="team">
                                      <div class="team-image">
                                        <img src="{% static 'webapp/images/314411600_508104038023729_5363057244920897952_n.jpg' %}" class="img-responsive" alt="team image">
                                        <div class="social-icons">
                                          <a href="#"><i class="icofont-facebook"></i></a>
                                          <a href="#"><i class="icofont-twitter"></i></a>
                                          <a href="#"><i class="icofont-instagram"></i></a>
                                          
                                        </div>
                                      </div>
                                      <h3>Min. Johnson Muriithi</h3>
                                      <!-- <p>CEO / FOUNDER EVENTO</p> -->
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </div>
            </div>
            
        </div>
{% endblock %}