{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>KPC</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}">
    
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!-- Responsive-->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/responsive.css' %}">
    <!--<link rel="stylesheet" href="css/responsive.css">-->
    <!-- fevicon -->
    <link rel="stylesheet" href="{% static 'webapp/icofont/icofont.min.css' %}">
    <link rel="icon" href="{% static 'webapp/images/fevicon.png' %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/jquery.mCustomScrollbar.min.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">-->
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <link type="text/css" rel="stylesheet" href="{% static 'webapp/css/nav.css' %}">
      
      
</head>
<!-- body -->

<body class="main-layout ">
    <!-- loader  -->
    <!-- <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div> -->
    <!-- end loader -->
    <!-- header -->
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <a href="index.html" id="branding">
                    <!-- <H1 class="logo">KPC</H1> -->
                    <h1 class="logo">KPC</h1>
                    <!-- <img src="{% static 'webapp/images/logo.png' %}" alt="Company Name" class="logo">  -->
                    <div class="logo-text">
                        <h1 class="site-title">KAGUMO PEOPLES CHURCH</h1>
                        <small class="description">TRANSFORMING LIVES</small>
                    </div>
                </a> <!-- #branding -->
            
                <div class="right-section pull-right">
                    <a href="#" class="phone"><img src="images/icon-phone.png" class="icon">+254 70000000</a>
            
                    <form action="#" class="search-form">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><img src="images/icon-search.png" alt=""></button>
                    </form>
                </div>
            </div> <!-- .container -->
        </div> <!-- .top-header -->

        
        <nav class="bottom-header">
            <div class="container-fluid">
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="icofont-justify-all"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="{% url 'webapp:about' %}">About us</a></li>
                        <li class="menu-item nav_item dropdown show-on-hover">
                            <a  class="nav_link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sermons</a>
                            <ul class="dropdown-menu mt-0 pt-0" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'webapp:sunday' %}">Sunday celebration</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:spirit' %}">Spirit Life</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:prophet' %}">Prophetic Voice</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:month' %}">Monthly Prayer Festivals</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:grace' %}">Grace Balm</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:praise' %}">Praise Hour</a></li>
                                <li><a class="dropdown-item" href="{% url 'webapp:voice' %}">Voice of My Spirit</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="{% url 'webapp:ministry' %}">Ministries</a></li>
                        <li class="menu-item"><a href="#">Podcast</a></li>
                        <li class="menu-item"><a href="{% url 'webapp:give' %}">Give</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->
                
                <!-- <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div> 
                 -->
                <div class="mobile-navigation"></div>
            </div>
        </nav>
        
    </header>
    <!-- end header -->
    {% block content %}{% endblock content %}

   
    <!-- end contact -->

    <!-- footer -->
    <footer>
        <div class="footer top_layer ">
            <div class="container">

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <a href="/" style="font-size:30px; color:rgba(137, 207, 152, 0.787);">Kagumo Peoples Church</a><hr style ="height:1px; width:auto; background-color:rgb(19, 88, 19);">
                            <p> <i>Transforming Lives</i> </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Bonus Tips</h3>
                            <ul class="Links_footer">
                                <li><img src="{% static 'webapp/icon/3.png' %}" alt="#" /> <a href="#">Read The Word</a> </li>
                                <li><img src="{% static 'webapp/icon/3.png' %}" alt="#" /> <a href="#">Pray</a> </li>
                                <li><img src="{% static 'webapp/icon/3.png' %}" alt="#" /> <a href="#">Maintain the Word Principles</a> </li>
                                <!-- <li><img src="icon/3.png" alt="#" /> <a href="#">LearnPress</a> </li>
                                <li><img src="icon/3.png" alt="#" /> <a href="#">Release Status</a> </li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Subcribe email</h3>
                            <p>Receive monthly update </p>
                            <input class="form-control" placeholder="Your Email" type="type" name="Your Email">
                            <button class="submit-btn">Submit</button>
                            <a href=""><button class="submit-btn mt-2 bg-dark">Register With Us</button></a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Contact Us</h3>

                            <ul class="loca">
                                <li>
                                    <a href="#"><img src="{% static 'webapp/icon/loc.png' %}" alt="#" /></a>Kagumo, Kirinyaga
                                    <br>Kenya</li>
                                <li>
                                    <a href="mailto:thepeopleschurchkagumo@gmail.com"><img src="{% static 'webapp/icon/email.png' %}" alt="#" />  </a>thepeopleschurchkagumo@gmail.com</li>
                                <li>
                                    <a href="#"><img src="{% static 'webapp/icon/call.png' %}" alt="#" /></a> +254 7000000000 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="copyright" style="background-image: linear-gradient(to right, #023e8a, #0077b6); height: 10px;">
            <div class="container">
                <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Designed by Dennis Nyaga</p>
                <!--<p>© 2021 All Rights Reserved. Design by oess softwares</p>-->
           
        </div>
        </div>
    </footer>

    <!-- end footer -->
    <!-- clock -->
    <script type="text/javascript" src="{% static 'webapp/js/scripts.js' %}"></script>
    <!-- end clock -->
    <!-- Javascript files-->
    <script type="text/javascript" src="{% static 'webapp/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script type="text/javascript" src="{% static 'webapp/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/app.js' %}"></script>
    <!-- javascript -->
    <!-- <script type="text/javascript" src=" {% static 'webapp/js/owl.carousel.js' %}"></script> -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: -0.5725455,
                    lng: 37.3177671
                },
            });

            
            var beachMarker = new google.maps.Marker({
                position: {
                    lat: -0.5725455,
                    lng: 37.3177671
                },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
    <!-- end google map js -->
</body>

</html>