{% extends 'shopping/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products_obj %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				<h6 class="mb-0 pb-0">Details</h6>
				<p class="mt-0 pt-0 mb-4">{{product.details}}</p>
				
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<!-- <a class="btn btn-outline-success" href="#">View</a> -->
				<h4 style="float: right"><strong>Ksh.{{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
	<div class="den mt-5">
		<span class="step-links">
		{% if products_obj.has_previous %}
			<a class="btn btn-info" href="?page=1">&laquo; first</a>
			<a class="btn btn-info" href="?page={{ products_obj.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current ">
			Page {{ products_obj.number }} of {{ products_obj.paginator.num_pages }}.
		</span>
		{% if products_obj.has_next %}
			<a class="btn btn-info" href="?page={{ products_obj.next_page_number }}">next</a>
			<a class="btn btn-info" href="?page={{ products_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>

{% endblock content %}
