@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .collapse .navbar-nav .nav-item .nav-link{
    border-right: 2px solid rgba(255, 255, 255, 0.3);
   
}
nav .collapse .navbar-nav .nav-item a{
    font-size: 1.3rem;
    font-weight: 400;
    color: #94a0b9;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #8b18a3;
}
nav{
    background-color: #8b18a3;
}

.dropdown:hover .dropdown-menu{
   
    display: block;
    
}

.head-st .banner .fs-4{
    font-size: large;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -10px;
}

.head-st .banner .mot{
    /* font-family: 'Mr Dafoe'; */
    margin: 0;
    font-size: 1em;
    margin-top: -0.6em;
    font-family: poppins;
    /* color: white; */
    /* text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1; */
    /* transform: rotate(-5deg); */
}

.head-st .banner .ff{
    /* background: radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
    radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
    radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%; */
  background-repeat: no-repeat;;
}

/* .head-st .banner .ff span{
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

header{
    background-color: #ffffff;
}

header .log{
    margin-right: 1rem;
}

header .log span{
    font-size: xx-large;
    font-weight: 900; 
    color: #340b64;
    font-family: 'Courier New', Courier, monospace;
}

header .log .k{
    font-family: 'Courier New', Courier, monospace;
}

/* header .log .c{
    background-color: #340b64;
    color: #fff; 
    border-radius: 50%;
    font-size: xx-large;
    padding:2px  5px; 
} */


header .search .form-control{
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

header .search .form-control:focus{
    outline: none;
    box-shadow: none;
}

header .search .btn{
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #00a1ef;
}


.about-us .col h2{
    font-size: 67px;
    font-weight: 100;
    line-height: 1.2em;
    font-family: "Amithen", Sans-serif;
    text-align: center;
}

.about .about_box img{
    float: left;
    margin-right: 15px;
}

.about .about_box{
    margin-bottom: 10em;
}

.about .about_box p .bol{
    font-weight: 700;
    font-size: large;
    color: black;

}

.about p .bol{
    font-weight: 700;
    font-size: large;
    color: black;
}
.about img{
    width: 300px;
    height: 300px;
    margin-right: 5px;
    border-radius: 5px;
}

.about .confe{
    float: left;
    object-fit: fill;
    
}
.he h1{
    font-weight: 600;
    color: #340b64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

.hh .ms-2{
    text-align: center;
    text-decoration: underline;
}

.he p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 13px;
    
    line-height: 1.8em;
}

.about .about_bo{
    border-bottom-style: solid;
}

.about .about_bo .hes{
    background-color: #340b64;
   
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 20%; 

}
.about .about_bo .hes h3{
    color: #fff;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: larger;
    font-weight: 700;
}



.slide .bb-t{
    border-radius: 10%;
    height: 30px;
    margin: auto;
    width: auto;
    background-color: #8b18a3;
}

.slide .card img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cc h2{
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: #8b18a3;
}

.more-sermon-btn a .btn{
    text-align: center;
}

footer .ff{
    display: flex;
    justify-content: space-between;
}