/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

/* .form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
} */



.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #741f70;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/

.main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}

.main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #a75b77;
     border-left: solid #741f70 10px;
     padding-left: 15px;
}

.main_heading h2 strong {
     background: #741f70;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}

.white_heading_main h2 {
     color: #fff;
}

.small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}

.small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #741f70;
     font-weight: 400;
     font-size: 28px;
     
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}

.small_main_heading h2 strong {
     color: #741f70;
     font-weight: 600;
}

.main_bt {
     background: #ee580f;
     color: #fff;
     padding: 15px 60px 15px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #ee580f 2px;
     border-radius: 30px;
     margin: 15px 0px 60px 0px;
}

a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
     background: #000;
     border: solid #000 2px;
     color: #fff;
}


/**-- list icon --**/

.ul_list_info_icon ul {
     list-style: none;
}

.ul_list_info_icon ul li {
     display: inline;
     float: left;
     width: 100%;
}

.ul_list_info_icon ul li img {
     width: 75px;
}


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*---------------------------- scroll to top area ----------------------------*/

.scrollup {
     float: right;
     position: absolute;
     color: #fff;
     right: 20px;
     padding: 0px 5px;
     text-transform: uppercase;
     font-weight: 600;
     background: #741f70;
     position: fixed;
     bottom: 20px;
     z-index: 99;
     text-align: center;
     color: #fff;
     cursor: pointer;
     border-radius: 0px;
     opacity: 0;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transition: .2s all ease;
     -moz-transition: .2s all ease;
     -o-transition: .2s all ease;
     -webkit-transition: .2s all ease;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     line-height: 48px;
     font-size: 16px;
}

.scrollup.b-show_scrollBut {
     opacity: 1;
     visibility: visible;
}

.top_awro {
     background: #ee4a79 none repeat scroll 0 0;
     cursor: pointer;
     padding: 6px 8px;
     position: fixed;
     bottom: 59px;
     right: 20px;
     display: none;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     transition: all 0.5s ease;
}

.sale_pro {
     background: #f25252 !important;
}

.margin_top_50 {
     margin-top: 50px;
}

.margin_bottom_30_all {
     margin-bottom: 30px;
}

.text_align_center {
     text-align: center;
}


/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/




.logo {
     float: left;
     position: relative;
     padding-top: 2px;
}



ul.top_icon {
     float: right;
     padding-top: 17px;
}




/*-- end header middle --*/









/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/












.carousel-indicators li {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #741f70;
   
}
#myCarousel .carousel-indicators li { margin-bottom: 40px;}
.banner-main .carousel-item img {width: 100%;}
#myCarousel a.carousel-control-prev {display: none;}
#myCarousel a.carousel-control-next {display: none;}
.carousel-indicators .active {background-color:#a03eeb;}

.banner-main .carousel-caption span {
     font-size: 50px;
     font-weight: bold;
     line-height: 60px;
     color: #a03eeb;
     text-transform: uppercase;
     padding-bottom: 10px;
     display: block;
}

.banner-main .carousel-caption h1 {
     color: #fff;
     font-size: 110px;
     line-height: 84px;
     font-weight: bold;
     padding-bottom: 20px;
     text-transform: uppercase;
}

.banner-main .carousel-caption p {
     font-size: 25px;
     line-height: 31px;
     padding: 6px 0px 50px 0px;
}

.banner-main .carousel-caption .buynow  {
border: #fff solid 1px;
background: #fff;
width: 190px;
padding: 8px 0;
display: inline-block;
font-weight: 500;
font-size: 17px;
line-height: 30px;
color: #000;
text-align: center;
border-radius: 10px;
margin-right: 20px;
}

.banner-main .carousel-caption .buynow:hover {
     border: #741f70 solid 1px;
     background: #741f70;
     color: #fff;
}

#myCarousel a.carousel-control-next {
     position: absolute;
     top: 40% !important;
     left: inherit !important;
     right: 17px !important;
     width: 70px;
     height: 70px;
     border-radius: 35px;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     top: 40% !important;
     left: 17px !important;
     width: 70px;
     height: 70px;
     border-radius: 35px;
}

ul.social_icon {
     list-style: none;
     padding-top: 5px;
}
ul.social_icon li {
     float: left;
color: #fff;
align-items: center;
padding-right: 10px;
margin-top: 17px;
}
ul.social_icon li:last-child {
     padding-right: 0px;
}
ul.social_icon li a {
color: #fff;
width: 40px;
height: 40px;
border: solid #fff 1px;
float: left;
text-align: center;
line-height: 40px;
border-radius: 100%;
font-size: 18px;
} 

ul.social_icon li a:hover {
     background: #ff0000;
border: solid #ff0000 1px;        
color: #fff;
}
/** end banner **/
.black {
    color: rgb(17, 17, 141);
    font-weight: 208;
}

.title {text-align: center; padding-bottom: 60px;}

.title h2 {
    padding: 0px 0px 6px 0px;
text-transform: uppercase;
font-weight: 500;
color: #741f70;
line-height: 46px;
border-bottom: #741f70 solid 1px;
font-size: 50px;
max-width: 374px;
width: 100%;
margin: 0 auto;

}







/** about **/

/** end about **/


/** for_box **/

.for_box_bg .for_box {
     text-align: center; 
     box-sizing: border-box;
}
.for_box_bg .for_box span {
     font-weight: bold; 
     font-size:51px; 
     line-height: 51px; 
     color: #a03eeb; 
     display: block;
     padding: 20px 0px;
}
.for_box_bg .for_box h3  {font-size: 30px; line-height: 33px; color: #fff;}


/** end for_box **/

/** offer **/
.offer {
     padding-top: 90px;
   }

.offer-bg {
     background: #741f70;
     padding: 90px 0px;
    
}

.margin {
     margin-bottom: 30px;
}


.offer .offer-bg {
     background: #741f70;
     text-align: center;
     padding: 60px 0px;
}
.offer .offer-bg .offer_box {text-align: center;}
.offer .offer-bg .offer_box figure {margin: 0;}
.offer .offer-bg .offer_box figure img {
    width: 100%;
}
.offer .offer-bg .offer_box h3 {
     font-size: 30px;
     font-weight: 500;
     color: #fff;
    padding-bottom: 30px;
}
.offer .offer-bg .offer_box p {padding-top: 35px; font-size: 17px; line-height: 23px; color: #fff;}

.read-more { 
font-family: poppins;
max-width: 212px;
margin: 0 auto;
margin-top: 0px;
display: block;
background: #fff;
color: #000 !important;
padding: 12px 0px;
width: 100%;
font-size: 17px;
float: left;
border-radius: 10px;
margin-top: -100px;
}

.read-more:hover {
     background: #30880d;
     color: #fff !important;
}


.margin_ttt {margin-top: 100px;}
.margin-lkk {margin-top: 200px;}
/** end offer **/





/** product **/

.product {padding: 90px 0px 60px 0px;}
.product .title h2 {max-width: 425px;
 width: 100%; 
}
.product .product_box {margin-bottom: 30px;border-radius: 5px;}
.product .product_box figure {margin: 0px; position: relative;border-radius: 5px;}
.product .product_box figure h3 {
 position: absolute;
bottom: 0;
text-align: center;
width: 100%;
background: #741f70d4;
padding: 10px 13px 13px 13px;
font-size: 30px;
line-height: 40px;
font-weight: 500;
color: #fff;
box-sizing: border-box;
border-radius: 5px;
}
.product .product_box figure img {width: 100%; height: 248px;}








/** end product **/
.clients {
     background: #fff;
   
} 
.clients .titlepage {padding-bottom: 0px;}
.clients .titlepage h2 {
     color: #000;
}

.clients_red {
     background: #fff;
     padding-bottom: 50px;
} 

.cross_inner h3 {
    text-align: left;
    padding-left: 60px;
    padding-top: 58px;   
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 58px;
text-transform: uppercase;
}

.pa_right {padding-right: 0px;}
.pa_left {padding-left: 0px;}

.testimonial_cont p {color: #fff;
background: #741f70;
padding: 40px 50px;}
#testimonial_slider .carousel-indicators {
     bottom: -50px;
}

#testimonial_slider .carousel-indicators li {
     width: 25px;
height: 25px;
background-color: #741f70;
border-radius: 50px;
}
#testimonial_slider .carousel-indicators li.active {
     background-color: #741f70;
}


.testimonial_cont {
    background: #fff;
    min-height: 295px;
}
.text_align_center {
    text-align: center;}
.ornage_color {
     color: #a75b77;
text-transform: none;
font-size: 20px;
line-height: 10px;
}
.testomonial_img {position: relative;}
.testomonial_img:after {
    position: absolute;
content: "";

background: url(../images/bg1.png);
background-repeat: no-repeat;
width: 61px;
height: 61px;
right: 0px;
bottom: -61px;;
z-index: 9999;
}
.testomonial_img i img { border: #a75b77 solid 13px; width: 100%;
     transform: skew(190deg);
}


.testimonial_cont h3 { color: #000; font-family: poppins;}


     







/** contact **/


.contact {
    margin-top: 90px;
    
}


.map_section {
    border-top: #741f70 solid 6px;
}
#map {
    height: 100%;
    min-height: 670px;
}

.padddd {
    padding: 0px;
}

.main_form {
    position: absolute;
    z-index: 990;
    background: #741f70;
   margin-top: 80px;
    padding: 60px 40px;
}

/* .form-control {
    border: #fff solid 1px;
    border-radius: inherit;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: poppins;
} */

/* .form-control:focus {
    box-shadow: inherit;
    border: rgb(80, 78, 78) solid 1px !important;
} */

.textarea {
    font-family: poppins;
    border: #fff solid 2px;
    margin-bottom: 20px;
    padding: 0px 20px;
    padding-top: 0px;
    width: 100%;
    padding-top: 30px;
}

.send {
    font-family: poppins;
    float: left;
    margin: 0 auto;
    display: block;
    background: #fff;
    color: #000;
    max-width: 165px;
    padding: 13px 0px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.send:hover {
    background: #741f70;
    color: #fff;
}


/** end contact **/

.footer {
     background: black; padding: 90px 0px;
}


 
 ul.loca li {
    color: #fff;
     padding-bottom: 10px;
     display: flex;
     font-size: 16px;
     flex-wrap: wrap;
}
 ul.loca li:last-child {
    padding-right: 0;
}
 ul.loca li a {
   padding-right: 16px;
color: #fff;
margin-top: 4px;
}
 
 ul.Links_footer {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
 ul.Links_footer li a {
    display: block;
     color: #fff;
     font-size: 17px;
     padding-left: 16px;
     margin-top: -34px;
}
 ul.Links_footer li a:hover{
    color: #741f70;
}
 ul.Links_footer li {
    padding-bottom: 15px;
    color: #741f70;
}
 
 

 .hhh {
    margin-bottom: 15px;
}
 .footer .newsletter h3 {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     display: block;
     padding-bottom: 25px;
     text-transform: uppercase;
}
 .footer .address .form-control {
     padding: 10px 15px;
     border: #ddd solid 1px;
     margin-bottom: 20px;
     box-shadow: inherit;
     border-radius: 10px;
}
 .address  h3 {
color: #fff;
font-size: 29px;
font-weight: 500;
padding-top: 15px;
padding-bottom: 3px;
border-bottom: #741f70 solid 4px;
margin-bottom: 20px;
width: 226px;
 }
.address img {padding-bottom: 10px;}

 .address p {
     color: #fff;
     padding-bottom: 20px;
     font-size: 18px;
line-height: 30px;}
 /* .form-control:focus, .form-control:hover {
     border: #ddd solid 1px !important;
} */
 .footer .address .submit-btn {
   padding: 8px 45px;
border: #741f70 solid 1px;
background: #741f70;
color: #fff;
font-weight: 500;
font-size: 19px;
border-radius: 10px;
}
 .footer .address .submit-btn:hover {
     background: #fff;
     border: #fff solid 1px;
     color: #741f70;
}
.copyright {
     background: black;
     padding: 20px 0px 20px 0;
}
.copyright p {
     color: #fff;
     font-size: 16px;
     text-align: center;
     text-align: center;
     margin: 0 auto;
}
.copyright a {
     color: #ffff;
}
.copyright a:hover {
     color: #000;
}
.btn-primary.focus,
.btn-primary:focus {
     box-shadow: inherit;
}

/*--------------------------------------------------------------------- inner_page css ---------------------------------------------------------------------*/

.brand_color {
     background-color: #ddd;
}
.brand_color .titlepage {
     margin-top: 90px;
     padding-bottom: 90px;
}

.brand_color .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
.contact-page .Contact {
     margin-top: 0px;
}
.contact-page .form-control {
     margin-bottom: 20px;
}

/** slider arrow **/

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     width: 62px;
     height: 60px;
     background: #fffdfd;
     opacity: 1;
     font-size: 30px;
     color: #000;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
     background: #ff0000 ;
     color: #fff;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     left: 82px;
     bottom: 10px;
     top: inherit;
}

#myCarousel a.carousel-control-next {
     position: absolute;
     left: 10px;
     top: inherit;
     bottom: 10px;
}

.special-page .relative  {text-align:center !important; }

.special-page .footer {margin-top: 90px;}

.fig img{
     border-radius: 20px;
     height: 500px;
}
.drop li {
     background-color: #090501;
}

.vid {
     text-align: center;
     border-radius: 5px;
     margin: 0 auto;
     width: 100%;
     
     padding: 5px 0 0 0;
     background-clip: content-box;
}
.vidhed h1{
     font-size: large;
     font-weight: bolder;
     font-family: 'Times New Roman', Times, serif;
     
}
#vidhed {
     display: inline-block;
     color: rgb(10, 2, 2);
     font-weight: 500;
     font-size: 20px;
     background: gold;
     border: none;
     border-radius: 5px;
     padding: 12px 16px;

     
}
iframe{
     width: 100%;
     border-radius: 5px;
     margin: 0 auto;
     box-sizing: content-box;
}



.f-card{
     width: 100%;
     padding-top: 15px;
     border: 1xp solid #d0d1d5;
     border-radius: 5px;
     position: relative;
 }
 .f-card img{
     width: 100%;
     object-fit: fill; 
     border-radius: 5px;
 }
 .reference-thumb {
     display: block;
     width: 100%;
     height: 500px;
     /* object-fit: cover; */
     border-radius: 5px;
     position: absolute;
     z-index: 0;
 }
   
 .reference-content {
     position: relative;
     padding-top: 350px;
 }
 .summ{
     background-color: #a03eeb;
     text-align: center;
     color: #000;
     margin-left: 15px;
     border-radius: 45px;
     width: 150px;
     align-items: center;
     /* opacity: 02; */
 }
 .summ small{
     margin: auto;
     font-weight: bolder;
     font-size: large;
 }

 .titl{
     color: white;
     margin-top: 2px;
     margin-left: 15px;
 }
 .titl h2{
     color: #fff;
     font-size: larger;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bolder;
     font-style: oblique;
 }
   
 .linkss{
     margin-left: 15px;
 }
 .linkss .nn{
     background-color: rgba(148, 26, 138, 0.682);
     backdrop-filter: blur(1px);
 }
 .button {
     border-radius: 15px;
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     /* opacity: 0.6; */
     transition: 0.3s;
     display: inline-block;
     text-decoration: none;
     cursor: pointer;
     font-weight: bolder;
     font-size: larger;
     letter-spacing: 1px;
     
     
 }
 .button:hover{
       transform: scale(1.11);
 }

 

 .fluider .share{
     display: flex;
     justify-content: space-between;
 }
 .fluider .share .sermontitle{
     display: flex;
     text-align: center;
     color: white;
     padding-top: 1rem;
 }
 .fluider .share .sermontitle small{
     padding-top: 0.1rem;
 }
 .fluider .share .sermontitle h3{
     color: white;
     margin-right: 1px;
 }

.fluider .links{
     display: flex;
    
 }

 .fluider .links a{
     padding: 5px;
     color: #741f70;
     padding-top: 1rem;

 }
 .fluider .links i{
     color: #741f70;
 }

 .fluider .you{
     height: 25rem;
     padding-top: 40px;
 }
.fluider{
     background-color: #000;
}

.eve{
     background-image: url('../images/image.jpeg');
     border-radius: 10px;
     background-size: cover;
     background-attachment: fixed;
     text-align: center;
}

.eve h2{
     text-align: center;
     color: #741f70;
     margin-top: 3rem;
     font-size: xx-large;
     font-weight: 1000;
     font-style: italic;
}

.ever{
     display: flex;
     justify-content: space-around;
}

.ever .events{
     display: flex;
     justify-content: space-between;
     background-color: rgba(16 18 27 / 40%);
     /* background-color: #f1e1fc; */
     text-align: center;
     align-items: center;
     align-content: center;
     border-radius: 15px;
     margin-bottom: 1rem;
     width: 20rem;
     backdrop-filter: blur(20px);
     position: relative; 
}

.ever .events .event-card{
     background-color: #f1e1fc;
     border-radius: 15px;
     margin-top: 2rem;
     margin-bottom: 2rem;
     margin-left: 0.2rem;
}
.eve .events .event-card .card-header h4{
     color: #741f70;
}
.eve .events .event-card .card-body h1{
     color: #741f70;
}
.eve .events .event-card .card-footer h4{
     color: #741f70;
}
.eve .events .event-card .card-header{
     background-color: #f6b9ff;
     border-radius: 15px;
}
.eve .events .event-card .card-footer{
     background-color: #f6b9ff;
     border-radius: 15px;
}



.ever .events .moredetails{
     margin-top: 5rem;
     margin-bottom: 5rem;
     margin-left: 0.5rem;
}

.eve .events .moredetails .eventname h5{
     font-style: italic;
     font-size: larger;
     font-weight: bold;
}
.eve .events .moredetails .eventname h5 span{
     color: red;
     font-weight: bolder;
     font-size: x-large;
}
.eve .events .moredetails .eventdetail a{
     /* color: #a03eeb; */
     font-size: larger;
     font-weight: bolder;
     text-decoration: underline;
     
}
.eve .events .moredetails .eventdetail a:hover{
     color: #741f70;
}
.eve .events .moredetails .eventdetail:hover{
     background-color: #a75b77;
}

.pray{
     background-color: #f1e1fc;
     
     border-radius: 10px;
     background-size: cover;
     background-attachment: fixed;
     text-align: center;
}
.pray .icon{
     color: #741f70;
     font-size: xx-large;
}

.pray .sms h2{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     
}
.pray .qq span{
     font-weight: bold;
     font-style: italic;
     color: #a03eeb;
}

.container-fluid .tit{
  
     text-align: center;
     margin-top: 5px;
     border-radius: 15px;
     background-attachment: fixed;
     margin-bottom: 15px;
     background-image: url('../images/271230453_2710603762419651_3169688484095334279_n.jpg');
     
}

.container-fluid .tit span{
     color: #fd015e;
     font-weight: bolder;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-fluid .tit h2{
     font-size: x-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bolder;
     font-style: italic;
     color: #fd015e;
}

.container-fluid .tit .col-lg-4 .card{
     border-radius: 10px;
     margin-bottom: 10px;
     background-color: rgba(16 18 27 / 40%);
     backdrop-filter: blur(50px);
}

.container-fluid .tit .col-lg-4 .card img{
     border-radius: 10px;
}

.container-fluid .tit .col-lg-4 .card .card-text p{
     font-weight: bolder;
     color: #fff;
}

.container-fluid .tit .col-lg-4 .card .card-body .card-title .ministrytitle a{
     font-weight: bolder;
     font-size: xx-large;
     color: #a03eeb;
     margin-bottom: 0px;
     padding-bottom: 0px;
}

.container-fluid .tit .col-lg-4 .card .card-body .card-text p{
     padding-top: 0px;
     margin-top: 0px;
}

.container-fluid .tit .col-lg-4 .card .card-body .card-text .min-more{
     background-color: #741f70;
     border-radius: 10px;
}

.container-fluid .tit .col-lg-4 .card .card-body .card-text .min-more:hover{
     background-color: #a03eeb;
}

.timer {
     text-align: center;
     background-color: #76b976;
     border-radius: 15px;
     align-items: center;
     padding: 0.01rem 0 0.01rem 0;
     margin-top: 2.5rem;

}
.timer h4{
     font-weight: bolder;font-size: larger;

}

.more-serm{

     align-items: center;
     align-content: center;
     text-align: center;
     padding-bottom: 2px;
     margin-bottom: 5px;
     border-radius: 10px;
     margin-top: 5px;
}
.more-serm .movies h4{
     font-size: xx-large;
     font-weight: bolder;
     margin-bottom: 2px;
     padding-bottom: 2px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-n .card{
     flex-shrink: 0;
     width: 250px;
     height: 150px;
     border-radius: 10px;
     cursor: pointer;
     position: relative;
     transition: all .4s;
     margin-right: 1em;
     margin-top: 4.5rem;
}
.main-n .card p{
     font-size: larger;
     font-weight: bolder;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-n .card .speaker{
     font-size: larger;
     color: #741f70;
}

.main-n .card::before{
     content: attr(data-text);
     position: absolute;
     left: 45%;
     bottom: -15%;
     transform: translate(-45%);
     font-size: .7em;
     opacity: 0;
     transition: all .4s;
 }

 .main-n .card:hover::before{
     opacity: 1;
 }
 .main-n .card:hover{
     transform: scale(1.05);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
 }

 .main-n .card img{
     width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 .main-n .cards{
     display: flex;
     flex-wrap: wrap;
     align-content: center;
     align-items: center;
     text-align: center;
     align-self: center;
     
 }
.more-sermon-btn{
     margin-top: 8rem;
     margin-bottom: 2rem;
}
.more-sermon-details{
     margin-top: 3rem;
}

.more-sermon-details .top-bar{
     display: flex;
     text-align: center;
}

.more-sermon-details .top-bar .searchtit h1{
     padding-top: 0.1rem;
}

.sunday-celebration-tit{
     margin-top: 2rem;
}

.sunday-celebration-tit h1{
     text-align: center;
     font-size: xx-large;
     color: #741f70;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: oblique;
     text-decoration: underline;
}

.sunday-celebration .col-lg-4{
     border-radius: 10px;
}
.sunday-celebration .col-lg-4 img{
     border-radius: 10px;
}

.sunday-celebration .col-lg-4 .product{
     margin-top: 1px;
     padding-top: 1px;
}
.sunday-celebration .col-lg-4 .product h6{
     font-size: larger;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #741f70;
}

.sunday-celebration .col-lg-4 .product hr{
     color: #a03eeb;
     padding-top: 1px;
}
.sunday-celebration .col-lg-4 .product p{
     font-size: medium;
     font-style: italic;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #a03eeb;
     padding-top: 1px;
}

.empty{
     text-align: center;
     font-size: xx-large;
     font-weight: bolder;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     color: red;
     align-content: center;
}
.den{
     text-align: center;
     margin-bottom: 5px;
}

.btn-info{
     background-color: #741f70;
}
.btn-info:hover{
     background-color: #a03eeb;
}

.sermon-cards .card {
     margin-bottom: 5px;
}
.sermon-cards .card .card-body{
     margin-top: 0px;
     padding-top: 0px;
}
.sermon-cards .card .card-body p{
     padding-top: 0px;
     margin-top: 0px;
     font-family: 'Courier New', Courier, monospace;
     font-style: italic;
     font-size: small;
     font-weight: bold;
     color: #a03eeb;
}

.sermon-cards .card .card-body h5{
     margin-bottom: 0px;
     padding-bottom: 0px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: larger;
     font-weight: bolder;
     color: #741f70;
}

.event-header h1{
     text-align: center;
     margin-top: 2rem;
     font-size: x-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bolder;
     font-style: italic;
     color: #741f70;
     text-decoration: underline;
}

.imager{
     width: 100%;
     height: 100%;
     border-radius: 10px;
}
.imager img{
     border-radius: 10px;
}
.event-des{
     margin-top: 10px;

}
.event-des .card{
     margin-bottom: 2px;
}
.event-des .container h3{
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: larger;
     font-weight: bold;
     font-style: italic;
     color: #741f70;
     text-decoration: underline;
}

.event-des .container h3 span{
     color: #a03eeb;
}
.event-des .container p{
     font-size: large;
}

.event-des .card .card-header{
     background-color: #f6b9ff;
}
.event-des .card .card-header h4{
     color: #a03eeb;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: large;
     font-weight: bolder;
     font-style: italic;
}
.event-des .card .card-body{
     background-color: #f1e1fc;
}

.event-des .card .card-body p strong{
     color: #a03eeb;
     background-color: #f1e1fc;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     font-weight: bold;
}

.event-des .card .card-body span{
     font-weight: 900;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-style: italic;
}

.mapper{
     text-align: center;
     align-items: center;
     margin-top: 5px;
}

.location_icon_bottum_tt ul li {
     color: #741f70;

}

.sunday-celebration .col-lg-4 .card{
     border-radius: 10px;
}
.sunday-celebration .col-lg-4 .card img{
     border-radius: 10px 10px 0px 0px;
     object-fit: fill;
     height: 350px;
     padding-bottom: 0px;
     margin-bottom: 0px;
}
.sunday-celebration .col-lg-4 .card .card-body{
     background-color: #a03eeb;
}
.sunday-celebration .col-lg-4 .card .card-body h3{
     font-size: x-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bolder;
     text-align: center;
     color: #fff;
     margin-top: 0px;
     padding-top: 0px;
}

.sunday-celebration .col-lg-4 .card .card-body .team{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: large;
     font-weight: 900;
     text-align: center;
     color: #000;
}

.sunday-celebration .col-lg-4 .card .card-footer {
     display: flex; 
     justify-content: space-between; 
    text-align: center;
    background-color: #a03eeb;

}

.sunday-celebration .col-lg-4 .card .card-footer i{
     width: 15px;
     height: 15px;
     font-size: xx-large;
}
.sunday-celebration .col-lg-4 .card .card-footer i:hover{
     background-color: #741f70;
     color: #fff;
}

.another{
     text-align: center;
     background-image: url('../images//Endless Haze Row - 16x9.jpg');
     border-radius: 10px;
     background-attachment: fixed;
     

}

.another h2{
     font-family: 'Courier New', Courier, monospace;
     font-style: italic;
     text-align: center;
     color: #fff;
     padding-top: 5px;
     font-weight: bold;
}

.quote_page{
     padding-top: 2rem;
}

.more-quotes{
     margin-top: 2.5rem;
     background-image: url('../images/Endless Haze Row - 16x9.jpg');
     object-fit: fill;
     background-attachment: fixed;
}

.more-quotes h4{
     color: #fff;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

.quote .more-sermon-btn a{
     text-align: center;
     align-items: center;
     margin: auto;
}

.quote .main-n .movies h4{
     text-align: center;
     margin-bottom: 0px;
     padding-bottom: 0px;
     font-size: xx-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
     font-style: italic;
     color: #fff;
}
.quote{
     background-image: url('../images/Endless Haze Row - 16x9.jpg');
     background-attachment: fixed;
     object-fit: cover;
}

.quote .main-n .movies .cards {
     margin-top: 5px;
     padding-top: 5px;
}